<% include header %>
<% include sidebar %>
<% include navbar %>

<div class="col-md-6 col-lg-10-2">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Crear Orden de trabajo</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form action="/orden_guardada" method="POST">
                <div class="box-body">
                     <!-- form start -->
                        <div class="form-group">
                                <label for="Titulo">Empleado</label>
                                <input readonly type="text" class="form-control" id="empleado" value="<%=data2%>">
                              </div>

                              <div class="form-group">
                                <label for="Titulo">Gafete</label>
                                <input readonly type="text" class="form-control" id="gafete" value="<%=data%>">
                              </div>

                     <!-- form start -->
                    <div class="">
                        <label for="Titulo">Departamento</label>
                        <select readonly  class="form-control" name="departamento" id="departamento" >
                                        <option >1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Titulo" >Maquina</label>
                        <select readonly  class="form-control" name="maquina" id="maquina">        
                                        <option >1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Titulo">Componente</label>
                        <select class="form-control" name="componente">   
                                  <option >1</option>
                                       
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Titulo" >Turno</label>
                        <select class="form-control" name="turno">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Titulo" >Grupo</label>
                        <select class="form-control" name="grupo">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Descripcion" >Descripcion de la falla</label>
                        <textarea type="text" class="form-control " rows="3" name="descripcion"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="SubirArchivo" name="archivo">Subir Archivo</label>
                        <input type="file" id="SubirArchivo">
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" >Generar orden de trabajo</button>
                </div>
            </form>
        </div>
<% include footer %>
</div>
</body>
</html>
